[submodule "emacs-jayemacs/pkgs/use-package"]
	path = emacs-jayemacs/pkgs/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "emacs-jayemacs/pkgs/diminish"]
	path = emacs-jayemacs/pkgs/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "emacs-jayemacs/pkgs/delight"]
	path = emacs-jayemacs/pkgs/delight
	url = git@github.com:antonio/delight.el.git
[submodule "popwin"]
	path = emacs-jayemacs/pkgs/popwin
	url = git@github.com:m2ym/popwin-el.git
