[submodule "use-package"]
	path = emacs-jayemacs/pkgs/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "delight"]
	path = emacs-jayemacs/pkgs/delight
	url = git@github.com:antonio/delight.el.git
[submodule "diminish"]
	path = emacs-jayemacs/pkgs/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "spacemacs"]
	path = emacs-spacemacs
	url = git@github.com:syl20bnr/spacemacs.git
[submodule "borg"]
	path = emacs-borg
	url = git@github.com:emacscollective/emacs.g.git
[submodule "page-break-lines"]
	path = emacs-jayemacs/pkgs/page-break-lines
	url = git@github.com:purcell/page-break-lines.git
