[submodule "pkgs/use-package"]
	path = pkgs/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "pkgs/diminish"]
	path = pkgs/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "pkgs/delight"]
	path = pkgs/delight
	url = git@github.com:antonio/delight.el.git
[submodule "popwin"]
	path = pkgs/popwin
	url = git@github.com:m2ym/popwin-el.git
